src/prove.py
venv
src/old_checkpoints
src/old2_checkpoints
old_venv
src/checkpoints
src/_checkpoints
src/old3_checkpoints
src/old4_checkpoints
src/old5_checkpoints
src/good_checkpoints
src/gen2_checkpoints/train/checkpoint
src/gen2_checkpoints/train/ckpt-1.data-00000-of-00001
src/gen2_checkpoints/train/ckpt-1.index
src/gen2_checkpoints/train/ckpt-2.data-00000-of-00001
src/gen2_checkpoints/train/ckpt-2.index
src/gen2_checkpoints/train/ckpt-3.data-00000-of-00001
src/gen2_checkpoints/train/ckpt-3.index
src/gen2_checkpoints/train/ckpt-4.data-00000-of-00001
src/gen2_checkpoints/train/ckpt-4.index
src/syll_checkpoints/train/checkpoint
src/syll_checkpoints/train/ckpt-1.data-00000-of-00001
src/syll_checkpoints/train/ckpt-1.index
src/syll_checkpoints/train/ckpt-2.data-00000-of-00001
src/syll_checkpoints/train/ckpt-2.index
src/syll_checkpoints/train/ckpt-3.data-00000-of-00001
src/syll_checkpoints/train/ckpt-3.index
src/syll_checkpoints/train/ckpt-4.data-00000-of-00001
src/syll_checkpoints/train/ckpt-4.index
