src/prove.py
venv
src/old_checkpoints
src/old2_checkpoints
old_venv
src/checkpoints
src/_checkpoints
src/old3_checkpoints
src/old4_checkpoints
src/old5_checkpoints
src/good_checkpoints
src/gen_checkpoints
src/data
src/gen2_checkpoints
src/syll_checkpoints
